<main>
    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/img/banner1.PNG" class="d-block w-100" alt="jogo mais comprado">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner2.PNG" class="d-block w-100" alt="promoção de jogo">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner3.PNG" class="d-block w-100" alt="promoção de jogo">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>


<h2>Jogos Em Destaque</h2>
    <mat-grid-list cols="3">
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo03.jpg" alt="jogo de ação">
                <mat-card-header>
                    <mat-card-title>Red Dead Redemption 2</mat-card-title>
                </mat-card-header>
        
                <mat-card-content>
                    <p>
                       Destaque em ação
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <P>R$ 150.00</P>
                    <button mat-button>COMPRAR</button>
                </mat-card-actions>

            </mat-card>
        </mat-grid-tile>
    
            <mat-grid-tile>
                <mat-card class="example-card">
                    <img mat-card-image src="./assets/img/jogo02.jpg" alt="jogo popular">
                    <mat-card-header>
                        <mat-card-title>Skyrim</mat-card-title>
                    </mat-card-header>
            
                    <mat-card-content>
                        <p>
                           Destaque em RPG
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <P>R$ 150.00</P>
                        <button mat-button>COMPRAR</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>


                <mat-grid-tile>
                    <mat-card class="example-card">
                        <img mat-card-image src="./assets/img/jogo01.png" alt="jogo recem lançado">
                        <mat-card-header>
                            <mat-card-title>The Witcher 3</mat-card-title>
                        </mat-card-header>
                
                        <mat-card-content>
                            <p>
                                Destaque em aventura
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <P>R$ 150.00</P>
                            <button mat-button>COMPRAR</button>
                        </mat-card-actions>
                    </mat-card>

            </mat-grid-tile>
      </mat-grid-list>

</main>